
<h1>Hello Calculator</h1>
<p>
  This website aims to demonstrate the uses of best practices in Angular, such as using components and modules to organize
  the project, also to demonstrate the use of services to facilitate the communication between components.
</p>
<p>
  This website is loaded with compodoc, a tool that generates documentation for Angular projects. Which is a great way to
  keep track of the project's progress and to keep the team on the same page.
</p>
<!-- <p>
  This website aims to demonstrate the differences betweeen using components and modules in Angular. How do services tend to facilitate
  the communication between components? How do we use the @Input and @Output decorators to pass data between components?
</p> -->
<!-- <p>
  Also this is a quick demonstration on lazy loading and how modules should work best on nested content:
</p> -->
<router-outlet></router-outlet>
